.ficha {
	margin:10px auto;

	.cuerpo-ficha {

		max-width:900px; margin:0 auto;
		padding:0 10px; margin-bottom:25px;

		h1 {
			margin:30px auto; text-align:center; color:$color-secondary;
			font-weight:600; font-size:36px; line-height:1.4em;

			&:after {
				display:block; content:''; width:80px; margin:10px auto;
				border-top:3px solid $color-primary;
			}
		}

		.bajada { font-size:20px; margin-bottom:20px; color:$color-primary; }

		.texto {
			ul {
				margin-bottom:15px;
				padding-left:30px;
				list-style:disc;
				li { list-style:inherit; }
			}
			ol {
				margin-bottom:15px;
				padding-left:30px;
				list-style:decimal;
				li { list-style:inherit; }
			}
			
			font-size:16px; line-height:1.4em;
			p { margin-bottom:15px; }

			a {
				color:$color-primary;
				&:hover { text-decoration:underline; }
			}

			table {
				border-collapse:collapse;
				td { border:1px solid #aaa; padding:4px 8px; }
			}

			iframe { display:inline; }
		}

		.multimedia {

			margin-bottom:25px;

			.foto {
				position:relative;
				height:480px; background-repeat:no-repeat; background-size:cover; background-position:center center;
				&.video::after {
					display:block; content:'';
					position:absolute; z-index:25; width:80px; height:80px; background-image:url(../img/play.svg); @include fondo-contain;
					left:0; right:0; margin:0 auto;
					top:50%; transform:translateY(-50%);
				}
				a { position:absolute; display:block; top:0; bottom:0; left:0; right:0; z-index:50; }
			}
			.slick-prev { font-size:0; position:absolute; top:50%; transform: translateY(-50%); z-index:100; width:22px; height:100px; background-repeat:no-repeat; background-size:contain; background-image:url(../img/anterior.svg); background-position:center; left:20px; background-color:transparent; cursor:pointer; }
			.slick-next { font-size:0; position:absolute; top:50%; transform: translateY(-50%); z-index:100; width:22px; height:100px; background-repeat:no-repeat; background-size:contain; background-image:url(../img/siguiente.svg); background-position:center; right:20px; background-color:transparent; cursor:pointer; }
		}

        .equipo {
            max-width: 800px;
            margin: 20px auto;
            
            ul {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;

                li {
                    flex-basis: 50%;
                    display: flex;
                    flex-flow: row nowrap;
                    padding: 30px 15px;

                    .imagen {
                        position: relative;
                        width: 90px;
                        height: 90px;
                        margin-right: 15px;
                        div {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-size: cover;
                            background-position: 50%;
                            background-repeat: no-repeat;
                        }
                    }
                    .info {
                        flex-basis: 0;
                        flex-grow: 1;
                        padding-top: 15px;
                        font-size: 16px;
                        .nombre {
                            font-weight: 600;
                            margin-bottom: 5px;
                            color: $color-primary;
                        }


                    }
                }
            }
        }

        .documentos {

            margin-top:30px;

            ul {

                li {
                    display: flex;
                    flex-flow: row nowrap;
                    padding: 15px;
                    gap: 15px;
                    .download {
                        display:block;
                        position: relative;
                        width: 80px;
                        img {
                            width:100%;
                        }
                        &::after {position:absolute; content: " "; width:30px; height:30px; mask-image:url(../img/download.svg); mask-repeat:no-repeat; mask-position:center; mask-size:contain; background-color:$color-primary; bottom:0; right:0; margin-right:-7px; }    
                    }
                    .download:hover, .download:focus {
                        &::after {transform:scale(1.15);}
                    }
                    .info {
                        flex-basis: 0;
                        flex-grow: 1;
                        padding-top: 5px;
                        font-size: 16px;
                        .nombre {
                            font-weight: 600;
                            margin-bottom: 10px;
                            color: $color-primary;

                            a:hover, a:focus {text-decoration:underline;}
                        }


                    }

                    &:nth-child(odd) {
                        background-color:#f3f3f3;
                    }
                }
            }
        }

		
	}
}

@media(max-width:650px) {
	.ficha {
		.cuerpo-ficha {
			h1 { font-size:30px; }
			.multimedia {
				.foto {
					height:340px;
				}
			}
		}
	}
}