.ficha {
	margin:10px auto;

	.cuerpo-ficha {

		max-width:900px; margin:0 auto;
		padding:0 10px; margin-bottom:25px;

		h1 {
			margin:30px auto; text-align:center; color:$color-secondary;
			font-weight:600; font-size:36px; line-height:1.4em;

			&:after {
				display:block; content:''; width:80px; margin:10px auto;
				border-top:3px solid $color-primary;
			}
		}

		.bajada { font-size:20px; margin-bottom:20px; color:$color-primary; }

		.texto {
			ul {
				margin-bottom:15px;
				padding-left:30px;
				list-style:disc;
				li { list-style:inherit; }
			}
			ol {
				margin-bottom:15px;
				padding-left:30px;
				list-style:decimal;
				li { list-style:inherit; }
			}
			
			font-size:16px; line-height:1.4em;
			p { margin-bottom:15px; }

			a {
				color:$color-primary;
				&:hover { text-decoration:underline; }
			}

			table {
				border-collapse:collapse;
				td { border:1px solid #aaa; padding:4px 8px; }
			}

			iframe { display:inline; }
		}

		.multimedia {

			margin-bottom:25px;

			.foto {
				position:relative;
				height:480px; background-repeat:no-repeat; background-size:cover; background-position:center center;
				&.video::after {
					display:block; content:'';
					position:absolute; z-index:25; width:80px; height:80px; background-image:url(../img/play.svg); @include fondo-contain;
					left:0; right:0; margin:0 auto;
					top:50%; transform:translateY(-50%);
				}
				a { position:absolute; display:block; top:0; bottom:0; left:0; right:0; z-index:50; }
			}
			.slick-prev { font-size:0; position:absolute; top:50%; transform: translateY(-50%); z-index:100; width:22px; height:100px; background-repeat:no-repeat; background-size:contain; background-image:url(../img/anterior.svg); background-position:center; left:20px; background-color:transparent; cursor:pointer; }
			.slick-next { font-size:0; position:absolute; top:50%; transform: translateY(-50%); z-index:100; width:22px; height:100px; background-repeat:no-repeat; background-size:contain; background-image:url(../img/siguiente.svg); background-position:center; right:20px; background-color:transparent; cursor:pointer; }
		}

		
	}
}

@media(max-width:650px) {
	.ficha {
		.cuerpo-ficha {
			padding:20px 0;
			h1 { font-size:30px; }
			.multimedia {
				.foto {
					height:340px;
				}
			}
		}
	}
}