.galeria {

	@media(max-width:850px) {
		width:100%;
	}

	.contenidos {

		.slick-prev, .slick-next {
			font-size:0; position:absolute; top:50%; transform: translateY(-50%); z-index:400; width:50px; height:50px; background-repeat:no-repeat; background-size:25%;
			background-color:black; background-position:center; cursor:pointer; border-radius:50%;

		}
		.slick-prev { background-image:url(../img/anterior.svg); left:5%; }
		.slick-next { background-image:url(../img/siguiente.svg); right:5%; }

		article {
			.imagen {
				display:block; width:100%;
				padding-top:42%; position:relative;
				@media(max-width:850px) {
					padding-top:45vh;
				}
				img {
					display:block;
					position:absolute; top:0; bottom:0; z-index:10; height:100%;
					width:100%; object-fit:cover; object-position:center center;
				}
			}
			.video:hover:after { transform:translateY(-50%) scale(1.2); }
		}

	}

	.video {
		position:relative;
		&:after {
			display:block; content:''; position:absolute; top:50%; transform:translateY(-50%);
			left:0; right:0; margin:0 auto; z-index:20;
			width:80px; height:80px; @include fondo-contain;
			background-image:url(../img/play.svg);
			transition:transform .2s ease;
		}
		@media(max-width:850px) {
			&:after { transition:none; }
			&:hover:after { transform:translateY(-50%) !important; }
			
		}
	}

	ul.nav {
		position:relative; top:-6px;
		li {
			cursor:pointer; padding:2px 1px;
			.video {
				display:block; position:relative;
				&:after { width:40px; height:40px; }
			}
		}
		@media(max-width:850px) {
			display:none;
		}
	}

}
