.novedades {

	margin:50px auto;
	padding:0 30px;

	.listado {

        .slick-prev, .slick-next {
			font-size:0; position:absolute; top:50%; transform: translateY(-50%); z-index:400; width:50px; height:50px; mask-repeat:no-repeat; mask-size:50%;
			background-color:$color-primary; mask-position:center; cursor:pointer; border-radius:50%;

		}
		.slick-prev { mask-image:url(../img/anterior.svg); left:-60px; }
		.slick-next { mask-image:url(../img/siguiente.svg); right:-60px; }

		.novedad {
		
			max-width:400px;
			position:relative; margin:0 2.5px;
            height:400px;
		}

		article {

			.imagen {
				position:absolute; z-index:10; top:0; left:0; right:0; bottom:0;
				@include fondo-cover;
			}

			.over {
				position:absolute; z-index:20; top:0; left:0; right:0; bottom:0;
				opacity:.2; transition:opacity .2s ease;
                background-color:$color-primary;
			}

			h3 {
				position:absolute; z-index:30; bottom:10%; left:6%; right:6%;
				color:white; font-size:22px; line-height:1.4em; font-weight:600;
				text-shadow:2px 2px 3px rgba(0, 0, 0, .4); transition:transform .2s ease;
			}

			a {
				position:absolute; top:0; left:0; right:0; bottom:0;
				display:block; z-index:40;
			}
		}

		.novedad:hover {
			.over { opacity:0; }
			h3 { transform:scale(1.05); }
		}
	}

	@media(max-width:840px) {
		margin:30px auto;
		.listado {
			display:block;
			.novedad {
				max-width:none; margin:0 auto;
				margin-bottom:15px;
			}
			article {
				.over { transition:none; }
				h3 { font-size:18px; }
			}
			.novedad:hover .over { opacity:0; }
		}
	}
}