.publicaciones {
    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: stretch;

        li {
            &:first-child {background-color:#f8ad31;}

            flex-basis: 0;
            flex-grow: 1;
            max-width: calc(25% - 2px);
            position: relative;
            margin: 0 1px;

            .imagen {
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                border-bottom: 2px solid #fff;

                span {
                    margin-top: 30px;
                    display: inline-block;
                    padding: 2px 15px 2px 6px;
                    font-weight: 700;
                    font-size: 20px;
                    color: #fff;
                    background-color: #58595b;
                }
            }

            .info {
                padding: 35px 25px 15px;
                position: relative;
                color: #fff;

                a {
                    display: block;
                    width: 25px;
                    height: 22px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    background-size: contain;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-image: url(../img/descargar.svg);
                    transition: transform .2s ease;
                }
                
                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4em;
                    margin-bottom: 20px;
                }

                p {
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 1.4em;
                }
            }
        }
    }

}