.publicaciones {
    ul.listado {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        row-gap: 2px;

        li.publicacion {
            background-color:$color-footer;
            flex: 1 1 calc(25% - 2px);
            max-width: calc(25% - 2px);
            position: relative;
            margin: 0 1px;

            article {height:100%;}

            .categoria {position:absolute; top:20px; left:0; background-color: #666D; color:#FFF; font-weight:bold; text-transform:uppercase; font-size:14px; padding:5px 10px;}

            .imagen {
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                border-bottom: 2px solid #fff;

                span {
                    margin-top: 30px;
                    display: inline-block;
                    padding: 2px 15px 2px 6px;
                    font-weight: 700;
                    font-size: 20px;
                    color: #fff;
                    background-color: #58595b;
                }
            }

            .over {
				position:absolute; z-index:20; top:0; left:0; right:0; bottom:0;
				opacity:.1; transition:opacity .2s ease;
                background-color:#FFF;
			}

            article:hover, article:focus {
                .over { opacity:0; }
                h3 { transform:scale(1.05); }
                &::after {content:" "; display:block; position:absolute; bottom:10px; right:10px; width:20px; height:20px; background-color:#FFF; mask-image:url(../img/goto.svg); mask-repeat:no-repeat; mask-size:contain; mask-position:center; }   
            }

            .info {
                padding: 20px 25px;
                position: relative;
                color: #fff;
                
                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.4em;
                    margin-bottom: 20px;
                    transition:transform .2s ease;
                }

                p {
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 1.4em;
                }
            }
        }
    }

    @media(max-width:1000px) {
        ul.listado {
            li.publicacion {
                flex: 1 1 calc(50% - 2px);
                max-width: calc(50% - 2px);
            }
            
        }
    }
    @media(max-width:840px) {
        ul.listado {
            li.publicacion {
                flex: 1 1 calc(100% - 2px);
                max-width: calc(100% - 2px);
            }
        }
    }

}