.select2-con-imagen img { display:inline-block; margin-right:8px; max-width:60px !important; }

.select2-container--default .select2-selection {border-radius:0; border-color: #d2d6de; height:34px; padding:6px 12px;}
.select2-container .select2-selection--single .select2-selection__rendered {padding-left:0; margin-top:0;}

.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 1.42857143;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height:32px;}