.servicios {

	margin:50px auto;

	.intro {
		font-size:25px; font-weight:700; color:$color-secondary; text-align:center;
		max-width:900px; margin:0 auto; margin-bottom:40px;
	}

	ul {
		display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:flex-start;
		li { flex-basis:33%; padding:10px; }
	}

	article {
		padding-left:28px; position:relative;

		i {
			width:20px; height:24px;
			display:block; position:absolute; left:0; top:0;
			img { max-width:100%; max-height:100%; }
		}

		color:#454545;

		h3 { font-weight:700; font-size:700; line-height:1.4em; }
		p { font-size:14px; line-height:1.4em; font-weight:300; }

		a { display:block; position:absolute; top:0; bottom:0; left:0; right:0; }
	}

	@media(max-width:840px) {
		margin:30px auto;

		.intro { font-size:16px; }
		ul {
			display:block;
			li { width:100%; padding:10px; }
		}
	}
}