.sucursales {
	margin:15px auto;
    
    li {
        margin:30px auto;
    }
    article {
        display:flex;
        flex-direction: row;
        gap: 20px;

        a {color: $color-primary;}
        a:hover {text-decoration:underline;}

        .imagen {
            width:25%;

            img {
                width:100%;
                max-height:200px;
            }
            
        }

        .cuerpo {
            flex:1;
        }

        .nombre {
            display:flex;
            justify-content:space-between;
            margin-bottom:10px;
            h3 {color: $color-primary; font-size:18px;}
        }

        .email {
            display:block; width:32px; height:24px;
            background-color: $color-primary;
            border-radius:5px;
            i {
                background-color: #FFF;
                mask-size: contain;
                mask-position: center;
                mask-repeat: no-repeat;
                mask-size: 100%;
                transition:transform .2s ease;
			    mask-image:url(../img/email.svg);
                width:100%; height:100%;
                display:block;
            }
            i:hover {
                transform:scale(1.1);
            }
        }

        aside {
            width:25%;
            border-left: 1px solid #AAA;
            padding-left:20px;

            display:flex;
            flex-direction:column;
            justify-content:space-evenly;

            .highlight {color: $color-primary;}
        }
    }
}

@media(max-width:650px) {
    .sucursales {
        article {
            flex-direction:column;
            border-bottom: 1px solid #AAA;
            padding-bottom:20px;
            gap: 10px;
            .imagen {
                width:100%;
                img {
                    max-height:none;
                }
            }

            aside {
                width:100%;
                border-left: none;
                padding-left:0;
            }

        }
    }
}