// Extensiones de bootstrap
@import "extensiones-bootstrap";

// Sweetalert
@import "node_modules/sweetalert/dist/sweetalert";

// Lity
@import "node_modules/lity/dist/lity";

// Bootstrap-toggle
@import "node_modules/bootstrap-toggle/css/bootstrap-toggle";

// Algunos básicos
img { max-width:100%; }

// Select2
@import "node_modules/select2/dist/css/select2";
@import "node_modules/select2-bootstrap-theme/dist/select2-bootstrap";

@import "select2-custom";

// Dropzone
.form-group .dropzone {
	width:100%;
	height:130px;
    min-height:130px;
	border:1px dashed #aaa;
	position:relative;
	padding:0;

	.dz-message {
		position:absolute; margin:0;
		top:50%; transform:translateY(-50%);
		left:0; right:0; text-align:center; padding:0 10px;
	}
}
.copiable-link {color:#333333; margin-left:20px;}
.icheckbox_square-blue {margin-right:10px;}

.main-sidebar {height:calc(100vh - 50px); overflow-y:auto;}
.drag {cursor:grab;}
.drag:active {cursor:grabbing;}